@font-face {
    /* bold tag */
    font-family: 'Young-Serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}
@font-face{
    /* main content */
    font-family: 'Outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}
@font-face{
    /* main content */
    font-family: 'Outfit-Black';
    src: url('./assets/fonts/outfit/static/Outfit-Black.ttf');
}
@font-face{
    /* main content */
    font-family: 'Outfit-Bold';
    src: url('./assets/fonts/outfit/static/Outfit-Bold.ttf');
}
@font-face{
    /* main content */
    font-family: 'Outfit-ExtraBold';
    src: url('./assets/fonts/outfit/static/Outfit-ExtraBold.ttf');
}
@font-face{
    /* main content */
    font-family: 'Outfit-ExtraLight';
    src: url('./assets/fonts/outfit/static/Outfit-ExtraLight.ttf');
}
@font-face{
    /* main content */
    font-family: 'Outfit-Medium';
    src: url('./assets/fonts/outfit/static/Outfit-Medium.ttf');
}
@font-face{
    /* main content */
    font-family: 'Outfit-Regular';
    src: url('./assets/fonts/outfit/static/Outfit-Regular.ttf');
}
@font-face{
    /* main content */
    font-family: 'Outfit-SemiBold';
    src: url('./assets/fonts/outfit/static/Outfit-SemiBold.ttf');
}
@font-face{
    /* main content */
    font-family: 'Outfit-Thin';
    src: url('./assets/fonts/outfit/static/Outfit-Thin.ttf');
}
/* Fonts */

html{
    background-color: hsl(30, 54%, 90%);
    display: table;
    margin: auto;
    padding-top: 115px;
    height: auto;
    padding-bottom: 115px;
    max-width: 1440px;
}

body{
    background-color: hsl(0, 0%, 100%);
    max-width: 735px;
    border-radius: 30px;
    padding: 40px;
    height: 1660px;
}

body p, 
body li{
    font-size: 16px;
    font-family: Outfit;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}

img{
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h2{
    font-family: Young-Serif;
    font-weight: 400;
}

/* title name and desctiption selector */
.title{
    color: hsl(24, 5%, 18%);
    font-family: Young-Serif;
    font-weight: 400;
    font-size: 45px;
    padding-top: 20px;
    margin: 0;
}

.description{
    padding-bottom: 1.3%;
    text-align: left;
    font-family: Outfit-ExtraLight;
    font-weight: 600;
    font-size: 18px;
}

/* preperation tile displaying quick notes */
.preparationTileParent{
    background-color: hsl(330, 100%, 98%);
    height: 170px;
    border-radius: 10px;
}

.preparationTileParent h3{
    font-family: Outfit;
    color: hsl(332, 51%, 32%);
    padding-left: 2.6%;
    padding-top: 2%;
}

.preparationTileParent li{
    font-weight: 400;
    padding-bottom: 10px;
    padding-left: 2%;
}

.preparationTileParent li::marker{
    color: hsl(14, 45%, 36%);
    font-size: small;

}

/* ingredients sectioning */
.ingredientsTileParent h2{
    color: hsl(14, 45%, 36%);
    padding-top: 1%;
    font-size: 28px;
}

.ingredientsTileParent li{
    padding-bottom: 10px;
    position: relative;
    left: -2.5%;
}

.ingredientsTileParent li::marker{
    font-size: small;
    color: hsl(14, 45%, 36%);
}

.ingredientsTileParent li span{
    position: relative;
    left: 1.5%;
}

/* instructions sectioning */
.instructionsTileParent h2{
    color: hsl(14, 45%, 36%);
    padding-top: 1%;
    font-weight: 400;
    font-size: 28px;
}

.instructionsTileParent li{
    padding-bottom: 10px;
    position: relative;
    left: -2.5%;
}

.instructionsTileParent li::marker{
    font-family: Outfit-SemiBold;
    color: hsl(14, 45%, 36%);
}

.instructionsTileParent strong{
    font-weight: 700;
}

.instructionsTileParent li span{
    position: relative;
    left: 1.5%;
    font-size: 18px;
    font-weight: 400;
}

/* nution sectioning */

.nutritionTileParent h2{
    color: hsl(14, 45%, 36%);
    padding-top: 1%;
    font-weight: 400;
    font-size: 28px;
}

.nutritionDescription{
    padding-bottom: 3%;
}

/* nutrition Table */
.nutritionDescription{
    height: 0;
    padding-top: 5px;
    font-family: Outfit-ExtraLight;
    font-weight: 600;
    font-size: 18px;

}

.nutritionTable p,
.nutritionTable strong{
    display: inline-block;
    width: 340px;
    height: 0;
    position: relative;
    bottom: 5px;
}

.nutritionTable p{
    padding-left: 4%;
    font-family: Outfit-ExtraLight;
    font-weight: 600;
}

.nutritionTable strong{
    color: hsl(14, 45%, 36%);
    font-family: Outfit-SemiBold;
}

hr{
    border: 1px solid hsl(30, 18%, 87%);
}

/* footer */
.attribution{ 
    position: relative;
    top: 130px;
    font-size: 11px; 
    text-align: center; 
}
.attribution a{ 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 375px) {
    html, body {
        background-color: hsl(0, 0%, 100%);
        margin: 0;
        padding: 0;
        overflow-x: hidden; 
        height: 100px;
    }

    img {
        border-radius: 0;
        width: 100vw;
        height: auto; 
        display: block; 
    }
    div, h1, h3, .title{
        margin-left: 10%;
        margin-right: 11%;
    }

    .title{
        padding-top: 8%;
        font-size: 35px;
        line-height: 35px;
    }

    .description{
        font-size: 15px;
        margin-left: 11%;
        margin-right: 11%;
    }

    .preparationTileParent h3{
        padding-top: 8%;
    }

    .instructionsTileParent li span{
        font-size: 15px;
    }

    .nutritionDescription{
        font-size: 16px;
        padding-bottom: 15%;
    }

    .nutritionTable p,
    .nutritionTable strong{
        padding-left: 12%;
        width: 30%;
    }
    .attribution{ 
        position: relative;
        top: 0;
        padding-top: 10%;
        padding-bottom: 2%;
    }

}