@font-face {
    /* bold tag */
    font-family: 'Young-Serif';
    src: url('/assets/fonts/young-serif/YoungSerif-Regular.ttf');
}
@font-face{
    /* main content */
    font-family: 'Outfit';
    src: url('/assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}
@font-face{
    /* main content */
    font-family: 'Outfit-Black';
    src: url('/assets/fonts/outfit/static/Outfit-Black.ttf');
}
@font-face{
    /* main content */
    font-family: 'Outfit-Bold';
    src: url('/assets/fonts/outfit/static/Outfit-Bold.ttf');
}
@font-face{
    /* main content */
    font-family: 'Outfit-ExtraBold';
    src: url('/assets/fonts/outfit/static/Outfit-ExtraBold.ttf');
}
@font-face{
    /* main content */
    font-family: 'Outfit-ExtraLight';
    src: url('/assets/fonts/outfit/static/Outfit-ExtraLight.ttf');
}
@font-face{
    /* main content */
    font-family: 'Outfit-Medium';
    src: url('/assets/fonts/outfit/static/Outfit-Medium.ttf');
}
@font-face{
    /* main content */
    font-family: 'Outfit-Regular';
    src: url('/assets/fonts/outfit/static/Outfit-Regular.ttf');
}
@font-face{
    /* main content */
    font-family: 'Outfit-SemiBold';
    src: url('/assets/fonts/outfit/static/Outfit-SemiBold.ttf');
}
@font-face{
    /* main content */
    font-family: 'Outfit-Thin';
    src: url('/assets/fonts/outfit/static/Outfit-Thin.ttf');
}
/* Fonts */

html{
    background-color: hsl(30, 54%, 90%);
    display: table;
    margin: auto;
    padding-top: 70px;
    height: auto;
}

body{
    background-color: hsl(0, 0%, 100%);
    width: 735px;
    border-radius: 30px;
    padding: 40px;
    height: auto;

}

img{
    border-radius: 4%;
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

/* title name and desctiption selector */
.title{
    color: hsl(24, 5%, 18%);
    font-family: Young-Serif;
    font-weight: 400px;
}

.description{
    padding-bottom: 1%;
}

/* preperation tile displaying quick notes */
.preparationTileParent{
    background-color: hsl(330, 100%, 98%);
    height: 150px;
    border-radius: 10px;
}

.preparationTileParent h3{
    font-family: Outfit;
    color: hsl(332, 51%, 32%);
    padding-left: 2.5%;
    padding-top: 2%;
}

.preparationTileParent li{
    padding-bottom: 10px;
    padding-left: 2%;
}

.preparationTileParent li::marker{
    color: hsl(332, 51%, 32%);
}

/* ingredients sectioning */
.ingredientsTileParent h2{
    color: hsl(14, 45%, 36%);
    padding-top: 1%;
}

.ingredientsTileParent li{
    padding-bottom: 10px;
    position: relative;
    left: -2.5%;
}

.ingredientsTileParent li::marker{
    color: hsl(332, 51%, 32%);
}

.ingredientsTileParent li span{
    position: relative;
    left: 1.5%;
}

/* instructions sectioning */
.instructionsTileParent h2{
    color: hsl(14, 45%, 36%);
    padding-top: 1%;
}

.instructionsTileParent li{
    padding-bottom: 10px;
    position: relative;
    left: -2.5%;
}

.instructionsTileParent li::marker{
    color: hsl(332, 51%, 32%);
}

.instructionsTileParent li span{
    position: relative;
    left: 1.5%;
}

/* nution sectioning */
.nutritionTileParent h2{
color: hsl(14, 45%, 36%);
padding-top: 1%;
}

.nutritionDescription{
    padding-bottom: 2%;
}

/* nutrition Table */
.nutritionTable p,
.nutritionTable strong{
    display: inline-block;
    width: 38%;
}

.nutritionTable p{
    padding-left: 4%;
}

.nutritionTable strong{
    color: hsl(14, 45%, 36%);
    font-family: Outfit-SemiBold;
}

/* footer */
.attribution{ 
    padding-top: 5%;
    font-size: 11px; 
    text-align: center; 
}
.attribution a{ 
    color: hsl(228, 45%, 44%); 
}